---
import Base from '../../layouts/base.astro';
import Char from '../../spans/char.astro';
import Highlight from '../../spans/highlight.astro';
import Link from '../../spans/link.astro';
import { getCollection } from 'astro:content';

let logs = await getCollection('devlog');
logs = logs.sort(
    (a: any, b: any) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Base title='Gsoc Dev Logs | NoobScience'>
    <div>
        <h1 class="text-2xl font-bold pt-2 pb-4">
            <Char char='()' /> dev.logs;
        </h1>
        <div>
            <p class="pb-2">
                <Highlight>My Dev logs</Highlight>
            </p>
            <p class="leading-7">
                Recently, I've been hearing a lot about how developers need to
                maintain logs of their work and how it has so many benefits.
            </p>
            <p class="leading-7">
                So I finally decided to start maintaining logs of any code or linux
                stuff that I do. Hopefully these will be put to use sometime in
                the future.
            </p>
            <p class="leading-7">
                Commit history and changes can be found on the github repo of the project.
            </p>
            <p class="leading-7">
                Welcome to my knowledge base.
            </p>
        </div>
    </div>
    <h2 class="py-4 text-xl font-bold">
        <Char char="?" /> logs.sort();
    </h2>
    <div class="md:w-2/3 md:p-0 pr-2">
        {
            logs.map((log) => (
                <div class="pb-2 flex flex-row items-center justify-between gap-x-4">
                    <h2>
                        <Link href={`/gsoc/logs/${log.slug}`}>
                            {log.data.title}
                        </Link>
                    </h2>
                    <p class="text-rosePineDawn-subtle dark:text-rosePine-subtle">
                        {new Date(log.data.date).toLocaleDateString()}
                        </p>
                </div>
            ))
        }
    </div>
</Base>
