---
import Base from "../../layouts/base.astro"
---

<Base title="cool.txt | NoobScience">
    <h1 class="text-xl font-bold">
        Make Simple Cool Again
    </h1>
    <div class="pt-2">
        I sometimes miss simple, <i>real</i> stuff on the modern web. Like everything seems so very modern.
        I know how weird that sentence sounds. But noob, isn't modern like good? We have better UI's then we 
        ever had, with an awesome user experience and more features than ever. But I miss the simplicity of
        the old ui's. However, take within consideration that I speak of well implemented 
        old UI's. Wouldn't want the weird cursor interactions, but I would take the awesome simplicity thank you please.
    </div>
</Base>
