---
import Base from '../../layouts/base.astro'
---

<Base>
    <h2 class="text-xl font-bold"> 
        Bunch of Unfiltered Psuedo Text Files
    </h2>
    <div class="pt-2">
        <p>
            Well, welcome to the unfiltered pseudo text files. This is a collection of random text files that I have created over the years. I have no idea what I am going to do with them, but I am sure that they will be useful for something.
        </p>
        <p>
            Btw, they are called psuedo text files because they are not real text files. These are files with minimal formatting and no real structure, however, they are still preprocessed and compiled into the final website.
        </p>
        <p>
            So if you were expecting a bunch of cool animations and interesting design details, you are going to be disappointed. This is just a bunch of text files.
            Here is the full directory of all the text files that I have created. I hope you find them useful.
        </p>
        <ul class="pt-2">
            <li><a class="underline" href="/f/hi.txt">hi.txt</a></li>
        </ul>
    </div>
</Base>
