@tailwind base;
@tailwind components;
@tailwind utilities;

.dark ::selection{
    background: #f2f2f2;
    color: #000;
}

::selection{
    background: #83fbff;
    color: #312f2f;
}

body{
    line-height: 1.7;
}

#inline-icon {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    fill: currentColor;
}