---
import Base from "../layouts/base.astro";
import Char from "../spans/char.astro";
---

<Base title="Now! | NoobScience">
  <h1 class="text-2xl font-bold pb-4 pt-2"><Char char="$" /> todo.txt</h1>
  <p>
    These are some of my publicly available ideas for my blog and projects.
    Borrowing these is technically allowed, although I would request you to
    credit me if you do :)
  </p>
  <span>(I trust you my guy)</span>
  <div class="mt-2">
    <ul class="list-disc">
      <li>Resilience</li>
      <li>Extremes (in progress)</li>
      <li>No Copilot (flying solo)</li>
    </ul>
  </div>
</Base>
