---
import Base from '../layouts/base.astro';
import Char from '../spans/char.astro'
---

<Base title="Now! | NoobScience">
    <h1 class="text-2xl font-bold pb-4 pt-2"><Char char='$' /> git pull noob@latest</h1>
    <p>
        The last month has been quite chill. Work is going well and I'm slowly getting confident with my own money :)
        I recently had my mid term exams and I was scared because I hadn't listened to classes in this month, but I was
        able to get through them.
    </p>
    <p>
        I'm home for summer. I am just coding and enjoying with a glass of chocolate milkshake.
        It's been pretty chill.
    </p>
    <div class="mt-3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4b/Chilling_on_the_beach.jpg" alt="Chilling" />
    </div>
</Base>
