---
import Base from '../layouts/base.astro';
import Char from '../spans/char.astro'
---

<Base title="Now! | NoobScience">
        <h1 class="text-2xl font-bold pb-4 pt-2"><Char /> git pull noob@latest</h1>
        <p>
            Past few months have been going quite well and it's been quite cool.
            I got my very first internship at a startup and I'm learning a lot of new things plus this
            is my first every paycheck, so that makes it all the most special :)
        </p>
        <p>
            School has been going well and I just entered my 4th semester and we have a bunch of cool subjects.
            Other than that, I've mostly been chilling, playing 0 A.D, and re watching a few of my favorite shows.
            It's been quite a chill time and I'm enjoying it.
        </p>
        <p>
            In fact it's so chill that I'm going out for some ice cream right now. I'll be back <i>soon</i>.
        </p>
        <div class="mt-3">
            <img src="https://play0ad.com/wp-content/gallery/screenshots/screenshot0072.jpg" alt="0AD">
        </div>
</Base>
