---
import Base from "../../layouts/base.astro";
import Char from "../../spans/char.astro";
---

<Base title="Noob's Quips">
  <h1 class="text-2xl pb-2">
    <Char char="^" /> Quips
  </h1>
  <div>
    Quips is my little corner on the internet where I share the most random
    things that come to my mind. So be prepared for a lot of thoughts lol.
  </div>
  <div>
    <p class="pt-4 dark:text-rosePine-subtle text-rosePineDawn-subtle">
      Quips are currently being migrated to a new platform. Check back soon!
    </p>
  </div>
</Base>
