---
export interface Props{
    title?: string;
    emoji?: string;
    color?: string,
}

const {title, emoji} = Astro.props;

import '@fontsource-variable/jetbrains-mono';
import '@fontsource-variable/inter';
import 'bootstrap-icons/font/bootstrap-icons.min.css';
import Nav from '../components/nav';

import '../styles/global.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link
        rel="alternate"
        type="application/rss+xml"
        title="Ishan Writes"
        href={`${Astro.site}rss.xml`}
    />

    <title>
        { title ?? "NoobScience" }  
    </title>
</head>
<body class="dark:bg-rosePine-base bg-rosePineDawn-base font-mono">
    <main class="flex flex-col dark:text-rosePine-text text-rosePineDawn-text justify-center items-center">
        <div class="md:w-3/5 w-full md:p-0 p-2">
	        <Nav emoji={emoji} client:load />
            <div class="md:p-4 p-1 pt-2 md:my-5 md:mb-1 border-rosePineDawn-text dark:border-neutral-100 md:border-2">
                <slot />
            </div>
            <footer class="text-rosePine-subtle text-sm md:flex md:flex-row md:items-center md:gap-x-4">
                    <p>
                        &copy; Ishan Joshi {new Date().getFullYear()}
                    </p>
                    <p class="pl-3">
                        (
                        <span id="theme" class="cursor-pointer"></span>
                        )
                    </p>
            </footer>
        </div>
    </main>
</body>
<script>
    const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
    let theme = "";
    const themeElement = document.getElementById("theme");

    if(prefersDarkScheme.matches){
        document.documentElement.classList.add('dark');
        if (themeElement) 
          themeElement.innerText = "Rosé Pine Moon 🌑";
        theme = "dark";
    }else{
        document.documentElement.classList.remove('dark');
        document.documentElement.classList.add('light');
        if (themeElement)
        themeElement.innerText = "Rosé Pine Dawn ☀️";
        theme = "light";
    }
    document.getElementById("theme")?.addEventListener("click", () => {
        if(theme == "light"){
            document.documentElement.classList.add('dark');
            if (themeElement) 
              themeElement.innerText = "Rosé Pine Moon 🌑";
            theme = "dark";
        } else{
            document.documentElement.classList.remove('dark');
            document.documentElement.classList.add('light');
            if (themeElement)
            themeElement.innerText = "Rosé Pine Dawn ☀️";
            theme = "light";
        }
    })
</script>
</html>
